#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 255) url("../gifs/loadingt.gif") no-repeat center center;
    z-index: 10000;
    opacity: 0.75;
}