{% extends "skeleton.html" %}
{% block head %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10; max-height: 400px; width: 100%') }}
{% endblock %}
{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="page-header">
            <h3>{{ layout.name }} | Upload Image</h3>
        </div>
        <br>
        <form id="form" class="container" method="POST">
            {{ dropzone.create() }}
            <br><br>
            <button type="submit" id="enviar" class="btn float-right btn-primary">Próximo</button>
        </form>
        {{ dropzone.load_js() }}
        {{ dropzone.config(default_message=message, uploadMultiple=multi) }}

        <div class="page-header">
            <h3>Enquadrar imagem(s) conforme modelo(s) abaixo:</h3>
        </div>
        <div class="container-fluid">
            {% if layout.name == 'CAGECE' %}
                <h6>Dados do Cliente</h6>
                <img src="../static/images/{{ layout.name }}_1.jpg" alt="modelo" class="rounded">
                <h6>E Dados de Pagamento</h6>
                <img src="../static/images/{{ layout.name }}_2.jpg" alt="modelo" width="40%" class="rounded">
            {% elif layout.name == 'CPF' %}
                <h6>Modelo Tradicional</h6>
                <img src="../static/images/{{ layout.name }}_1.jpg" alt="modelo" width="40%" class="rounded">
                <h6>Ou Modelo Provisório</h6>
                <img src="../static/images/{{ layout.name }}_2.jpg" alt="modelo" width="40%" class="rounded">
            {% else %}
                <img src="../static/images/{{ layout.name }}.jpg" width="40%" alt="modelo">
            {% endif %}
        </div>
    </div>
    <div id="loader"></div>
{% endblock %}
{% block scripts %}
    <script>
        $('#form').submit(function () {
            $('#loader').show();
        });
    </script>
{% endblock %}