{% extends "skeleton.html" %}
{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="page-header">
            <h3>Pesquisa de Arquivos</h3>
        </div>
        <br>
        <form id="form" class="container-fluid" method="POST">
            <div class="form-group">
                <label for="client">Cliente:</label>
                <select id="client" name="client" class="form-control" required>
                    <option value="">-- Selecione --</option>
                    {% for client in clients %}
                        <option value="{{ client.cnpj }}">{{ client.social_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="begin">Data inicial: </label>
                <input type="date" id="begin" name="begin" class="form-control">
            </div>
            <div class="form-group">
                <label for="end">Data final: </label>
                <input type="date" id="end" name="end" class="form-control">
            </div>

            <button class="btn btn-primary float-right" type="submit">Pesquisar</button>
        </form>
    </div>
{% endblock %}