{% extends "skeleton.html" %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>Seleção de Layout</h3>
        </div>
        <br>
        <form id="form" class="container" method="POST">
            <div class="form-group">
                <label for="client">Cliente:</label>
                <select id="client" name="client" class="form-control" required>
                    <option value="">-- Selecione --</option>
                    {% for client in clients|sort(attribute='social_name') %}
                        <option value="{{ client.cnpj }}{{ client.cleaning_frequency_in_days }}">
                            {{ client.social_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="frequency">Selecione período de permanência para arquivos digitalizados:</label>
                <select id="frequency" name="frequency" class="form-control" required>
                    <option value="">-- Selecione --</option>
                    <option value="30">30 dias</option>
                    <option value="60">60 dias</option>
                    <option value="90">90 dias</option>
                    <option value="120">120 dias</option>
                </select>
            </div>
            <div class="form-group">
                <label for="layout">Layout:</label>
                <select id="layout" name="layout" class="form-control" required>
                    <option value="">-- Selecione --</option>
                    {% for group in layouts|groupby('category') %}
                        <optgroup label="{% if group.grouper == 'D' %}Documento{% else %}Pagamento{% endif %}">
                            {% for layout in group.list|sort(attribute='name') %}
                                <option value="{{ layout.id }}">{{ layout.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <br><br>
            <button type="submit" id="enviar" class="btn float-right btn-primary">Próximo</button>
        </form>
    </div>
    <div id="loader"></div>
{% endblock %}
{% block scripts %}
    <script>
        $("#client").change(function () {
            document.getElementById("frequency").value = $(this).val().substring(14, 18);
        });

        $('#form').submit(function () {
            $('#loader').show();
        });
    </script>
{% endblock %}
