{% extends "skeleton.html" %}
{% block head %}
    <style>
        #radioBtn .notActive {
            color: #3276b1;
            background-color: #fff;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>Resultado Digitalização | {{ data['Layout'] }}</h3>
        </div>
        <br>
        <form id="form" class="container" method="POST">
            <input type="hidden" name="layout" value="{{ data['Layout'] }}">

            {% for ele in data %}
                {% set key = ele %}
                {% set val = data[ele] %}

                {% if key != 'Layout' %}
                    {% if val is iterable and val is not string %}
                        <div class="card-deck">
                            {% for k, v in val.items() %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ key }} | {{ k }}</h5>
                                        <p class="card-text">{% if v|length > 0 %}{{ v }}{% else %}Nenhum texto
                                            encontrado.{% endif %}</p>
                                        <label for="{{ key|unidecode }}_{{ k|unidecode }}"></label>
                                        <div class="float-right">
                                            <div class="input-group">
                                                <div id="radioBtn" class="btn-group">
                                                    <a class="btn btn-primary btn-sm active"
                                                       data-toggle="{{ key|unidecode }}_{{ k|unidecode }}"
                                                       data-title="A">Aceitar</a>
                                                    <a class="btn btn-primary btn-sm notActive"
                                                       data-toggle="{{ key|unidecode }}_{{ k|unidecode }}"
                                                       data-title="R">Refazer</a>
                                                </div>
                                                <input type="hidden" name="{{ key|unidecode }}_{{ k|unidecode }}"
                                                       id="{{ key|unidecode }}_{{ k|unidecode }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ key }}</h5>
                                    <p class="card-text">{% if val|length > 0 %}{{ val }}{% else %}<i>Nenhum texto
                                        encontrado.</i>{% endif %}</p>
                                    <label for="{{ key|unidecode }}"></label>
                                    <div class="float-right">
                                        <div class="input-group">
                                            <div id="radioBtn" class="btn-group">
                                                <a class="btn btn-primary btn-sm active"
                                                   data-toggle="{{ key|unidecode }}"
                                                   data-title="A">Aceitar</a>
                                                <a class="btn btn-primary btn-sm notActive"
                                                   data-toggle="{{ key|unidecode }}"
                                                   data-title="R">Refazer</a>
                                            </div>
                                            <input type="hidden" name="{{ key|unidecode }}" id="{{ key|unidecode }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}

            <br><br>
            <button type="submit" id="enviar" class="btn float-right btn-success">Concluir</button>
        </form>
    </div>
    <div id="loader"></div>
{% endblock %}
{% block scripts %}
    <script>
        $('#radioBtn a').on('click', function () {
            let sel = $(this).data('title');
            let tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);
            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
            // alert(document.getElementById(tog).value)
        });

        $('#form').submit(function () {
            $('#loader').show();
        });
    </script>
{% endblock %}