<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Docs Manager | CATI</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png', _external=True) }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png', _external=True) }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png', _external=True) }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest', _external=True) }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg', _external=True) }}"
          color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer-navbar.css', _external=True) }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js', _external=True) }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js', _external=True) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>
    {% block head %}{% endblock %}
</head>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</html>