{% extends "skeleton.html" %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>Resumo | {{ template }}</h3>
        </div>
        <br>
        {% for ele in data %}
            {% set key = ele %}
            {% set val = data[ele] %}

            {% if key != 'id' and key != 'cnpj' %}
                {% if val is iterable and val is not string %}
                    <div class="card-deck">
                        {% for k, v in val.items() %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ key|capitalize }} | {{ k|capitalize }}</h5>
                                    <p class="card-text">
                                        {% if v|length > 0 %}{{ v }}{% else %}Nenhum texto encontrado.{% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ key|capitalize }}</h5>
                                <p class="card-text">
                                    {% if val|length > 0 %}{{ val }}{% else %}<i>Nenhum texto encontrado.</i>{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <br>
        {% endfor %}
        <br><br>
        <a class="btn float-right btn-success" href="{{ url_for('index') }}">Início</a>
    </div>
    <div id="loader"></div>
{% endblock %}